<?xml version='1.0' encoding='utf-8'?>
<Project version="6">
    <Python hostinterpreter="$PYTHON_DIR\python.exe" major="{{python_version['major']}}" minor="{{python_version['minor']}}" patch="{{python_version['patch']}}" platformpython="win32" sourcedir="$SYSROOT/src/Python-{{python_version['major']}}.{{python_version['minor']}}.{{python_version['patch']}}" ssl="0" targetincludedir="$PYTHON_DIR\Include" targetlibrary="$PYTHON_DIR\libs\python36.lib" targetstdlibdir="$PYTHON_DIR\Lib" />
    <Application entrypoint="" isbundle="1" isconsole="{{win_console}}" ispyqt5="1" name="{{app_name}}" script="{{package}}\__main__.py" syspath="">
        <QMakeConfiguration>RESOURCES += app_resources/app_resources.qrc
CONFIG += qtquickcompiler
TRANSLATIONS = {% for t in translation_files %}{{t}}\
        {% endfor %}</QMakeConfiguration>
    </Application>    
    {% for m in qt_modules %}<PyQtModule name="{{m}}" />
    {% endfor %}<Others builddir="{{build_dir}}" qmake="" />
</Project>