; -- 64Bit.iss --
; Demonstrates installation of a program built for the x64 (a.k.a. AMD64)
; architecture.
; To successfully run this installation and the program it installs,
; you must have a "x64" edition of Windows.

; SEE THE DOCUMENTATION FOR DETAILS ON CREATING .ISS SCRIPT FILES!

[Setup]
AppName={{app_name}}
AppVersion={{app_version}}
DefaultDirName={pf}\{{app_name}}
DefaultGroupName={{app_name}}
UninstallDisplayIcon={app}\{{exe_filename}}
Compression=lzma2
SolidCompression=yes
OutputBaseFilename={{app_name.replace(' ', '')}}_{{app_version}}_{{platform}}
OutputDir=.
; "ArchitecturesAllowed=x64" specifies that Setup cannot run on
; anything but x64.
ArchitecturesAllowed=x64
; "ArchitecturesInstallIn64BitMode=x64" requests that the install be
; done in "64-bit mode" on x64, meaning it should use the native
; 64-bit Program Files directory and the 64-bit view of the registry.
ArchitecturesInstallIn64BitMode=x64

[CustomMessages]
CreateStartMenuIcon=Create a &start menu icon
InstallingVCRedist=Installing VC++ 2015 Redistributables...

[Files]
; App Files
Source: "{{exe_filename}}"; DestDir: "{app}"; DestName: "{{exe_filename}}"
Source: "*.dll"; DestDir: "{app}"
Source: "*.pyd"; DestDir: "{app}"
Source: "platforms\*.dll"; DestDir: "{app}\platforms"
; Resources
Source: "{{resources_dir}}\{{app_icon}}"; DestDir: "{app}\{{resources_dir}}";
Source: "translations\*.qm"; DestDir: "{app}\translations";
; QML
Source: qml\*; DestDir: "{app}\qml"; Flags: recursesubdirs
; Externals
Source: "{{vc_redist_dir}}\vc_redist.x64.exe"; DestDir: {tmp}; Flags: deleteafterinstall

[Tasks]
Name: "desktopicon"; Description: "{cm:CreateDesktopIcon}"; GroupDescription: "{cm:AdditionalIcons}"; Flags: unchecked
Name: "startmenuicon"; Description: "{cm:CreateStartMenuIcon}"; GroupDescription: "{cm:AdditionalIcons}"; Flags: unchecked

[Run]
Filename: {tmp}\vc_redist.x64.exe; Parameters: "/q /passive /Q:a /c:""msiexec /q /i vcredist.msi"""; StatusMsg: {cm:InstallingVCRedist}

[Icons]
Name: "{userdesktop}\{{app_name}}"; Filename: "{app}\{{exe_filename}}"; IconFilename: "{app}\{{resources_dir}}\{{app_icon}}"; Tasks: desktopicon
Name: "{group}\{{app_name}}"; Filename: "{app}\{{exe_filename}}"; WorkingDir: "{app}"; IconFilename: "{app}\resources\test_icon.ico"; Tasks: startmenuicon
Name: "{group}\{cm:UninstallProgram,{{app_name}}}"; Filename: "{uninstallexe}"; IconFilename: "{app}\resources\test_icon.ico"; Tasks: startmenuicon